<launch>
    <node name="rs2_ros" pkg="rs2_ros" type="rs2_ros" respawn="true" respawn_delay="2" output="screen">
        <param name="width" value="1280" />
        <param name="height" value="720" />
        <param name="frame_rate" value="15" />
        <param name="exposure" value="20000" />
        <param name="auto_exposure" value="false" />
        <param name="gain" value="80" />
        <param name="laser_power" value="300" />
    </node>
</launch>